
%div{:class=>"new_form"}
  %h3{:class=>"tag_line"}
    Express your love to everyone, join us as a "rater"
  %hr
    Sign up using

  %div{:class=>"Sign_up_facebook"}
    %br
    =image_tag("/images/icons/facebook.jpg" ,{:width=>"100px",:height=>"35px",:style=>"top:10px;position:relative;padding-right:20px;padding-left:50px;"})
    =image_tag("/images/icons/twitter.png" ,{:width=>"140px",:height=>"35px",:style=>"top:10px;position:relative;"})
  %br

  %hr
    Or
  -form_for(@user) do |f|
    =render "shared/error_messages"
    %div{:class=>"field"}
      = f.label :name
      &nbsp; &nbsp;
      = f.text_field :name,:class=>"text_field"
    %div{:class=>"field" }
      = f.label :email
      &nbsp; &nbsp;
      = f.text_field :email,:class=>"text_field"

    %div{:class=>"field"}
      = f.label :password
      &nbsp; &nbsp;
      = f.password_field :password,:class=>"text_field"
    %div{:class=>"field"}
      = f.label :password_confirmation, "Confirmation"
      &nbsp; &nbsp;
      = f.password_field :password_confirmation,:class=>"text_field"
    %div{:class=>"actions field" }
      = f.submit "Sign up"

%div{:class=>"new_form_right"}
  %h3
    Benefits of a "Rater"
  %br
  %hr
    You get to bullshit
    %br
    Everyone will have to read your news
    %br
    You set the trend
    %br
    shawn will give you financial details
    %br
    Justin will show you how to win in poker
    %br
    Arthur will crash a car
    %br
    Dennis will dance for you
    %br
    Ali will be a hippie
    %br
    Sebastian will make noise



